<!DOCTYPE html>
<html ng-app="realestate">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>

    <!-- Global stylesheets -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css' />
    @Styles.Render("~/css")

</head>
<body>
    <!--Render Body Part-->
    @RenderBody()

    <!--Render Main Scripts-->
    @Scripts.Render("~/scripts")
    @Scripts.Render("~/scripts/form")

    @Scripts.Render("~/angular")
    @Scripts.Render("~/app")

    <!--Render Script Section-->
    @RenderSection("scripts", false)

</body>
</html>
